.input-container {
  width: 300px;
  margin: auto;
  margin-top: 15vh;
  background: yellow;
  padding: 50px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.input-container form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 150px;
}

.input-container input {
  padding: 5px;
  font-size: 16px;
}

.input-container button {
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid;
  border-radius: 5px;
  background: yellowgreen;
}
.warning-msg {
  color: red;
  font-size: 20px;
}
