.resume-container {
  width: 80%;
  margin: auto;
  border: 1px solid;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.resume-header {
  background: #00ffff4d;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.applicant-photo img {
  width: 80px;
  margin-right: 55px;
}
.applicant-details {
  width: 100%;
  text-align: center;
  margin-top: 25px;
}
.applicant-name {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 20px;
}
.applicant-applied-for {
  font-weight: bold;
}

.resume-content {
  display: flex;
  padding: 10px;
}

.left-content {
  width: 44%;
  background: #ffc0cb78;
  padding: 8px;
  margin-right: 5px;
  height: fit-content;
}

.left-content-headings {
  font-weight: bold;
  background: #808080b5;
  padding: 2px;
}

.left-content-informations {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 5px 0;
  word-break: break-word;
}

.right-heading {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 10px;
}
.sub-section-heading {
  font-weight: bold;
  padding: 5px;
  font-size: 14px;
  margin-left: 25px;
}
.sub-section-text {
  font-weight: normal;
}
.right-sub-section-dot-content {
  padding-left: 5px;
}

.search-container {
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.search-container button {
  padding: 10px;
}

.error-container {
  width: 80%;
  min-height: 100px;
  border: 2px solid;
  margin: auto;
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  display: none;
}
.error-container span {
  font-size: 28px;
}
